---
import Layout from "@layouts/Template.astro";
---

<Layout>
  <main class="h-full grid place-items-center">
    <section class="text-center text-neutral-100 space-y-6">
      <div>
        <h1 class="text-7xl font-bold text-[#50C2BE] tracking-tight mb-4">
          404
        </h1>
        <p class="text-lg text-neutral-400">Page not found</p>
      </div>

      <a
        href="/"
        class="inline-block w-[200px] rounded-2xl bg-[#50C2BE] hover:bg-teal-800 active:bg-[#50C2BE]
               cursor-pointer text-neutral-900 font-semibold px-4 py-2 transition-colors"
      >
        Homepage
      </a>
    </section>
  </main>
</Layout>
