---
import Layout from '@layouts/Template.astro';
---

<Layout>
  <main class="grid h-full place-items-center">
    <section class="space-y-6 text-center text-neutral-100">
      <div>
        <h1 class="mb-4 text-7xl font-bold tracking-tight text-[#50C2BE]">404</h1>
        <p class="text-lg text-neutral-400">Page not found</p>
      </div>

      <a
        href="/"
        class="inline-block w-[200px] cursor-pointer rounded-2xl bg-[#50C2BE] px-4 py-2 font-semibold text-neutral-900 transition-colors hover:bg-teal-800 active:bg-[#50C2BE]"
      >
        Homepage
      </a>
    </section>
  </main>
</Layout>
