---
import Layout from '@layouts/Layout.astro';
import PostStudio from '@components/PostStudio.svelte';
---

<Layout>
  <main class="mx-auto max-w-[1200px] p-6">
    <PostStudio client:only="svelte" />
  </main>
</Layout>
