---
import Layout from '@layouts/Layout.astro';
import PostStudio from '@components/studio/shell/PostStudio.svelte';
---

<Layout>
  <main>
    <PostStudio client:only="svelte" />
  </main>
</Layout>
